/* Bulma Import */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  padding: 10px;
}

/* Ground */
#background {
  position: absolute;
  bottom: 0;
  right: 0;
}

#foreground {
  position: absolute;
  bottom: 0;
  right: 0;
}

#chatbox {
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 0;
}

