/* Bulma Import */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  background: linear-gradient(rgb(195, 193, 255), rgb(255, 204, 254));
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  padding: 10px;
}

#bunnyHead {
  position: absolute;
  bottom: 600rem;
  right: 600rem;
}

/* Ground */
#background {
  position: absolute;
  bottom: 0;
  right: 0;
}

#foreground {
  position: absolute;
  bottom: 0;
  right: 0;
}

#chatbox-title {
  display: none;
}

@keyframes changeColor {
  from {
      color: #ffffff;
  }
  to {
      color: #ff76e6;
  }
}

#chatbox-icon {
  cursor: pointer;
  animation: changeColor 5s infinite alternate;
}

p {
  z-index: 1000000;
  text-align: center;
  padding: 10px;
}

.centre {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: white;
  justify-content: center;
  border-radius: 30px;
  width: 200px;
  height: 100px;
}

#chatbox {
  position: absolute;
  width: max-content;
  bottom: 0;
  right: 0;
}


#toggle-form-area {
  width: 300px;
  display: none;
}

#minimize {
  display: none;
}


