/* Bulma Import */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Animations */

#earLeft, #earRight {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes swinging{
  0%{
    -webkit-transform: rotate(10deg);
  }
  50%{
    -webkit-transform: rotate(-5deg)
  }
  100%{
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-5deg)
  }
  100%{
    transform: rotate(10deg);
  }
}

.swingimage{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

body {
  background: linear-gradient(rgb(195, 193, 255), rgb(255, 204, 254));
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Style the content */
.content {
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  padding: 10px;
}

/* Bunny */

#bunnyHead, #earRight, #earLeft, #eyeRight, #eyeLeft, #mouth, #nose {
  z-index: 1000;
  position: absolute;
  bottom: 15rem;
  left: 20rem;
  scale: 70%;
}

#mouth, #nose {
  bottom: 14rem;
  left: 23.5rem;
}

#mouth {
  bottom: 18rem;
}

#eyeLeft, #eyeRight {
  animation-name: swingimage;
  bottom: 20rem;
  left: 23.3rem;
}

#eyeRight {
  left: 27rem;
}

#earRight, #earLeft {
  bottom: 20rem;
  left: 21rem;
}

#earLeft {
  left: 27rem;
}

#nose {
  bottom: 19rem;
  left: 25rem;
}

/* Ground */
#background {
  position: absolute;
  bottom: 0;
  right: 0;
}

#foreground {
  position: absolute;
  bottom: 0;
  right: 0;
}

#chatbox-title {
  display: none;
}

@keyframes changeColor {
  from {
      color: #ffffff;
  }
  to {
      color: #ff76e6;
  }
}

#chatbox-icon {
  cursor: pointer;
  animation: changeColor 5s infinite alternate;
}

#chatbox {
  position: absolute;
  width: max-content;
  bottom: 0;
  right: 0;
}


#toggle-form-area {
  width: 300px;
  display: none;
}

#minimize {
  display: none;
}

