<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BunnyBreak</title>
  <link rel="icon" type="image/svg" href="static/assets/Favicon.svg">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  BunnyBreak

  <!-- IMAGES -->
  <!--Ground-->
  <img name="foreground" src="static/assets/ground/Background.svg">

  <div id="chatbox" class="block">
    <i class="fa-brands fas-rocketchat"></i>
    <article class="message is-dark">
      <div class="message-header">
        <p>Let's Chat!</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        <form action="/chat" method="post">
          <div class="block">
            <textarea class="textarea is-primary" placeholder="Type here ..."></textarea>
          </div>
          <div class="block">
            <button class="button is-primary">That's It</button>
          </div>
        </form>
      </div>
    </article>
  </div>

  

  <script src="static/script.js"></script>

</body>

</html>