<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BunnyBreak</title>
  <link rel="icon" type="image/svg" href="static/assets/Favicon.svg">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <script>
    var label = "{{ label|safe }}";
  </script>

<div class="centre">
  <p id="speech">TEMPPP</p>
</div>

  <div class="level">
    <h1 class="title is-1 level-item has-text-centered">BunnyBreak</h1>
  </div>

  <!-- IMAGES -->

  <!--BUNNY-->

  <img id="bunnyHead" src="static/assets/bunny/Bunny Head.svg">
  <img id="earRight" src="static/assets/bunny/Vector.svg">
  <img id="earLeft" src="static/assets/bunny/Vector-1.svg">
  <img id="Mouth" src="static/assets/bunny/Mouth.svg">
  <img id="Nose" src="static/assets/bunny/Nose.svg">
  <img id="eyeRight" src="static/assets/bunny/Eye 1.svg">
  <img id="eyeLeft" src="static/assets/bunny/Eye 2.svg">


  

  <!--Ground-->

  <img id="foreground" src="static/assets/ground/Background.svg">
  <img id="background" src="static/assets/ground/Foreground.svg">

  <div id="chatbox" class="block">
    <article class="message is-dark">
      <div class="message-header">
        <i id="chatbox-icon" class="fa fa-comments"></i>
        <p id="chatbox-title">Let's Chat!</p>
        <button id="minimize" class="delete" aria-label="delete"></button>
      </div>
      <div id="toggle-form-area" class="message-body">
        <form action="/chat" method="post">
          <div class="block">
            <textarea name="text-chat" class="textarea is-primary" placeholder="How was your day?" required></textarea>
          </div>
          <div class="block">
            <button class="button is-primary">That's It</button>
          </div>
        </form>
      </div>
    </article>
  </div>

  

  <script src="static/script.js"></script>

</body>

</html>